Repository brenns10/cbot: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, iwyu, clang-tidy

clang-format:
  name: Run clang-format
  language: system
  entry: clang-format -i

iwyu:
  name: Run include-what-you-use
  language: system
  entry: ./.iwyu.sh

clang-tidy:
  name: Run clang-tidy
  language: system
  entry: clang-tidy --checks=-*,clang-analyzer-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,performance-* --warnings-as-errors=*

sports_schedule: fix EST time
  plugin/sports_schedule.c
Due: clang-format, iwyu, clang-tidy

Release v0.15.0
  CHANGELOG
  deploy/alpine/APKBUILD
  meson.build
Due: none

deploy: fcd8bf599806ab54c345224e055bfd694d1a51e4
  .buildinfo
  .doctrees/environment.pickle
  Backends.html
  Plugins-2.html
  Plugins.html
  Tooling.html
  User.html
  _static/documentation_options.js
  _static/pygments.css
  admin.html
  dev.html
  genindex.html
  index.html
  search.html
  searchindex.js
Due: none

minor changes, add secret sad reacts
  README.md
  doc/admin.rst
  meson.build
  plugin/trivia.c
  sample.cfg
Due: clang-format, iwyu, clang-tidy

minor changes, add secret sad reacts (#35)
  README.md
  doc/admin.rst
  meson.build
  plugin/trivia.c
  sample.cfg
Due: clang-format, iwyu, clang-tidy

doc: stop using deprecated meson features
  doc/meson.build
Due: none

actions: Don't do Github Pages build on PR
  .github/workflows/gh-pages.yaml
Due: none

Run pre-commit hooks (Fedora 42)
  .pre-commit-config.yaml
  plugin/help.c
  plugin/tok.c
  plugin/trivia.c
Due: clang-format, iwyu, clang-tidy

actions: add CI for lint & build
  .github/workflows/ci.yaml
Due: none

deploy: 1c599b4f1166b49aeb276b7dad878f289153e2cb
  .buildinfo
  .doctrees/Backends.doctree
  .doctrees/Plugins-2.doctree
  .doctrees/Plugins.doctree
  .doctrees/Tooling.doctree
  .doctrees/User.doctree
  .doctrees/admin.doctree
  .doctrees/dev.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  Backends.html
  Plugins-2.html
  Plugins.html
  Tooling.html
  User.html
  _sources/admin.rst.txt
  _static/alabaster.css
  _static/basic.css
  _static/doctools.js
  _static/documentation_options.js
  _static/github-banner.svg
  _static/language_data.js
  _static/pygments.css
  _static/searchtools.js
  _static/sphinx_highlight.js
  admin.html
  dev.html
  genindex.html
  index.html
  search.html
  searchindex.js
Due: none

pre-commit: fix bogus clang-include-cleaner header
  .pre-commit-config.yaml
Due: none

deploy: 9f483333c2fbbfa80b7e3ed57159dff982c524a0
  .doctrees/environment.pickle
Due: none

deploy: 86ab1c4f734a78e0dc07b1f06e558ec56a368c1e
  .doctrees/environment.pickle
Due: none

actions: do build & lint in same action
  .github/workflows/ci.yaml
Due: none

deploy: a54757b87fc191572e9dda28f09bfb78a820e246
  .doctrees/environment.pickle
Due: none

deploy: b1be6deb84b68b0cd43e61eb4808413fd6eb9732
  .doctrees/environment.pickle
Due: none

Add new emoji reactions to trivia plugin
  plugin/trivia.c
Due: clang-format, iwyu, clang-tidy

Add new emoji reactions to trivia plugin (#36)
  plugin/trivia.c
Due: clang-format, iwyu, clang-tidy

deploy: d5007de61c516ca9373892d03f2fbc9269927d0c
  .doctrees/environment.pickle
Due: none

tests: introduce plugin testing
  tests/meson.build
  tests/plugintest.c
  tests/plugintest.h
  tests/test_name_plugin.c
Due: clang-format, iwyu, clang-tidy

sports_schedule: switch to chasecentercalendar.com
  plugin/sports_schedule.c
Due: clang-format, iwyu, clang-tidy

events: Use formatting API
  plugin/events.c
Due: clang-format, iwyu, clang-tidy

events: rename plugin from sports_schedule
  meson.build
  plugin/events.c
Due: clang-format, iwyu, clang-tidy

Add an improved formatter API
  inc/cbot/cbot.h
  src/fmt.c
  tests/fmt2.c
  tests/meson.build
Due: clang-format, iwyu, clang-tidy

deploy: 7ea034332d5436cb66777fab57e8a938c8bb88af
  .doctrees/environment.pickle
Due: none

plugins: trivia: fix code formatting
  plugin/trivia.c
Due: clang-format, iwyu, clang-tidy

deploy: 0d1947daa622c5f5ec4da7e11869b4d7074279ce
  .doctrees/environment.pickle
Due: none

deploy: update to latest Alpine
  deploy/Dockerfile
Due: none

ci: upgrade build env and github
  .build.yml
Due: none

deploy: 5808b9ee6ff46c6f6d140efae9c54a7d8241c668
  .doctrees/environment.pickle
Due: none

Release v0.16.0
  CHANGELOG
  deploy/alpine/APKBUILD
  meson.build
Due: none

deploy: 0a08d77b2b5d74ce7c275b5778fc99ad04482d2d
  .buildinfo
  .doctrees/environment.pickle
  Backends.html
  Plugins-2.html
  Plugins.html
  Tooling.html
  User.html
  _static/documentation_options.js
  admin.html
  dev.html
  genindex.html
  index.html
  search.html
Due: none

Add curl/curl.h include
  .pre-commit-config.yaml
  src/cbot_private.h
Due: clang-format, iwyu

signal-cli: fix broken updateProfile call
  src/signal/signalcli_bridge.c
Due: clang-format, iwyu, clang-tidy

Release v0.17.0
  CHANGELOG
  deploy/alpine/APKBUILD
Due: none

deploy: e25bf7e43b01e96aa33a96039eaf0f99d710c64a
  .buildinfo
  .doctrees/Backends.doctree
  .doctrees/Plugins-2.doctree
  .doctrees/Plugins.doctree
  .doctrees/Tooling.doctree
  .doctrees/User.doctree
  .doctrees/admin.doctree
  .doctrees/dev.doctree
  .doctrees/environment.pickle
  .doctrees/index.doctree
  Backends.html
  Plugins-2.html
  Plugins.html
  Tooling.html
  User.html
  _static/base-stemmer.js
  _static/doctools.js
  _static/english-stemmer.js
  _static/language_data.js
  _static/searchtools.js
  _static/sphinx_highlight.js
  admin.html
  dev.html
  genindex.html
  index.html
  search.html
  searchindex.js
Due: none

Release v0.17.1
  .build.yml
  CHANGELOG
  deploy/alpine/APKBUILD
  meson.build
Due: none

deploy: 9a7ee4c9d44c56483b65e5deeeb3151e65aeed38
  .buildinfo
  .doctrees/environment.pickle
  Backends.html
  Plugins-2.html
  Plugins.html
  Tooling.html
  User.html
  _static/documentation_options.js
  admin.html
  dev.html
  genindex.html
  index.html
  search.html
Due: none

Release v0.17.2
  .build.yml
  CHANGELOG
  deploy/alpine/APKBUILD
  meson.build
Due: none

deploy: eae2982c568a89361b90d0410cc1539c29a0b89d
  .buildinfo
  .doctrees/environment.pickle
  Backends.html
  Plugins-2.html
  Plugins.html
  Tooling.html
  User.html
  _static/documentation_options.js
  admin.html
  dev.html
  genindex.html
  index.html
  search.html
Due: none

Path conditions:
  clang-format: any of: ^.*\.[ch]$
  iwyu: any of: ^.*\.[ch]$
  clang-tidy: any of: ^.*\.c$, but not: plugin/help.h
